

@font-face {
    font-family: 'bloominggrovealtboldbold';
    src: url('./bgroveb-webfont.woff2') format('woff2'),
         url('./bgroveb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




