$text-color1:#DC8C13;
$text-color2:#00A7E1;
$text-color3:#CC4BC2;
$text-color4:#59CD90;
$text-color5:#B2264B;
// Mise en page du one page
*{
    scroll-behavior: smooth;

    box-sizing: border-box;

}
/*.All-page{
    height: 100;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.All-page > section {
    scroll-snap-align: end;
}*/
.page1{
    
    height: 100%;
    width: 100%;
    background-image: url(../../images/FondSite-Accueil.webp);
    background-size: cover;
    background-attachment: fixed;
    

}
.page2{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/FondSite-Nous.webp);
    background-size: cover;
    background-attachment: fixed;

}
.page3{
    height: 100%;
    width: 100%;
    background-image: url(../../images/FondSite-Travaux.webp);
    background-size: cover;
    background-attachment: fixed;
    
}
.page4{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/FondSite-NosOffres.webp);
    background-size: cover;
    background-attachment: fixed;
}

.page5{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/FondSite-Contact.webp);
    background-size: cover;
    background-attachment: fixed;
}

// SCSS COMPOSANTS 
#Nos-réalisations{
    display: flex;
    justify-content:center;
.Liste{

    width: 60%;
}
}
#Nos-offres{
    display: flex;
    justify-content:center;
.Liste2{
    width: 60%;
}
}

// Logo 
.Logo{
    width: 350px;
    height:97px;
    margin-left: 2em;
    margin-top: 2em;
    position: fixed;
}
//Titre page 
.titrepage2{
    width: 350px;
    height: 70px;
    margin-left:24em;
    margin-top: 2.9em;
}
.titrepage3{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 70px;
    margin-left: 24em;
    margin-top: 3.1em;
}
.titrepage4{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 70px;
    margin-left: 24em;
    margin-top: 3em;
  

}
.titrepage5{
    width: 350px;
    height: 70px;
    margin-left:24em;
    margin-top: 2.9em;
}
// Titre en haut
.Titre{
    img{

        height: 245px;
        width: 420px;
        display: flex;
        align-items: center;
        margin-top: 20em;
    }
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white; 

    h1{
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        
    }

}
//Trait sous Titre
.Traitv{
    display:flex;
    justify-content: flex-end;
    width: 50%;
    height: 8em;
}
// Gestion et style du crops de la page
.Placement-gen{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin-left: -5em;
        .Titre-place{
            display:flex;
            align-items: center;
            color:white;
            h3{
                margin-left: -5em;
                color:$text-color1
            }
            }
    p{
        width: 20%;
        color:white;
        margin-right: -20em;
        margin-top: -2em;
        padding-left: 0.7em;
        border-left: solid 1px white;
        font-size: 1.2em;
    }
    img{
        height: 190px;
        width: 190px;
    }
}
.Placement-gen2{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 96%;
    margin-left: -5em;
        .Titre-place2{
            display:flex;
            align-items: center;
            color:white;
            h3{
                margin-left: -5em;
                color:$text-color1
            }
            }
    p{
        width: 20%;
        color:white;
        margin-right: -23em;
        margin-top: -2em;
        padding-left: 0.7em;
        border-left: solid 1px white;
        font-size: 1.2em;
    }
    img{
        height: 190px;
        width: 190px;
    }
}
.Placement-gen3{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 91%;
    margin-left: -5em;
        .Titre-place3{
            display:flex;
            align-items: center;
            color:white;
            h3{
                margin-left: -4.5em;
                margin-bottom: 1.5em;
                color:$text-color1
            }
            }
    p{
        width: 20%;
        color:white;
        margin-right: -26.5em;
        margin-top: -2em;
        padding-left: 0.7em;
        border-left: solid 1px white;
        font-size: 1.2em;
    }
    img{
        height: 190px;
        width: 190px;
    }
}
.placement-coté{
    position: absolute;
    top:50%;
}

//fin page 1 


//début P2 placement 

.placement-middle{
    display: flex;
    justify-content:center;
    align-items: center;
    
    .bloc-présentation{
        width: 22%;
        margin-top: 6em;
        margin-right: 3em;
        img{
            height: 17em;
        }
        h2 span{
            color:$text-color2;
            font-family:'bloominggrovealtboldbold';
        }
        h2{
            color:white;
        }
        p{
            color:white;
            margin-top: 0;
            text-align: justify;
        }

        .placement-P-trait{
            display:flex;
            align-items: flex-start;
            flex-direction: column;
            margin-right: 5em;
            padding-left: 1em;
            border-left: 1px solid #ffffff;
            
            img{
                height: 25em;
                margin-right: 1em;
            }
            .placement-desc{
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
        .Logo-réseaux{
            h3{
                
                color:white;            }
            img{
                height: 1.5em;
                margin-right: 2em;
            }
        }
    }

}
.placement-coté-p2{
    position: absolute;
    top:200%;
    
}

// fin Page 2
//page 3
.Liste{

    margin-top: 12em;
    
}
//fin page 3
//page 4 
.all-cartp4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -45em;
    width: 100%;
    .cartp4{
        display: flex;
        align-items: center;
        width: 425px;
        margin-right: 5em;
        a{
            text-decoration: none;
        }
        .text-box{
            
            h3{
                color:$text-color4;
            }
            p{
                color:white;
            }
        }
        .Bas-figure{
            h4{
                color: $text-color4;
            }
            p{
                color: #ffffff;
                span{
                    color:$text-color4;
                }
            }
        }
    }
}

//fin page 4
// Page 5 
// gestion des 5 bloc
.all-blocP5{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 0;
    

    .blocP5{
        
        margin-top:10em;
        margin-left: 4em;
        margin-right:0em;
        width: 10%;
        
        img{ 
            width: 11em;
            
            

        }
        p{          
            
            color:white;
            text-align: center;
            margin: 0;




        }  
    }
}
// bloc en bas p5
.bloc-bas-P5{
    display:flex;
    justify-content:center;
    margin-top: 10em;
    a{
        display:flex;
        align-items: center;
        img{
            padding: 1em;
        }
}
}
.placement-coté-p5{
    position: absolute;
    top:550%;
    left: 0;
    
}



