$text-color1:#DC8C13;
$text-color2:#00A7E1;
$text-color3:#CC4BC2;
$text-color4:#59CD90;
$text-color5:#B2264B;
// Mise en page du one page
html{
    scroll-behavior: smooth;
}

.page1{
    
    height: 100%;
    width: 100%;
    background-image: url(../../images/FondSite-Accueil.jpg);
    background-size: cover;
    background-attachment: fixed;
    

}
.page2{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/FondSite-Nous.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.page3{
    height: 100%;
    width: 100%;
    background-image: url(../../images/FondSite-Travaux.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.page4{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/FondSite-NosOffres.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.page5{
    height: 100vh;
    width: 100%;
    background-image: url(../../images/FondSite-Contact.png);
    background-size: cover;
    background-attachment: fixed;
}
// SCSS COMPOSANTS 
#haut-page3{
    display: flex;
    justify-content:center;
.Liste{

    width: 60%;
}
}
#haut-page4{
    display: flex;
    justify-content:center;
.Liste2{
    width: 60%;
}
}

// LOGO 
.Logo {
    position: fixed;
    width: 400px;
    height: 110px;
    margin-top: 2em;
    margin-left: 2em;
    
}

// Titre en haut
.Titre{
    img{

        height: 245px;
        width: 20%;
        display: flex;
        align-items: center;
        margin-top: 20em;
    }
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white; 

    h1{
        font-size: 2em;
        text-align: center;
        font-family: 'bloominggrovealtboldbold';
    }

}
//Trait sous Titre
.Traitv{
    display:flex;
    justify-content: flex-end;
    width: 50%;
    height: 8em;
}
// Gestion et style du crops de la page
.Placement-gen{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin-left: -5em;
        .Titre-place{
            display:flex;
            align-items: center;
            color:white;
            h3{
                margin-left: -5em;
                color:$text-color1
            }
            }
    p{
        width: 20%;
        color:white;
        margin-right: -20em;
        margin-top: -2em;
        padding-left: 0.7em;
        border-left: solid 1px white;
        font-size: 1.2em;
    }
    img{
        height: 190px;
        width: 190px;
    }
}
.Placement-gen2{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 96%;
    margin-left: -5em;
        .Titre-place2{
            display:flex;
            align-items: center;
            color:white;
            h3{
                margin-left: -5em;
                color:$text-color1
            }
            }
    p{
        width: 20%;
        color:white;
        margin-right: -23em;
        margin-top: -2em;
        padding-left: 0.7em;
        border-left: solid 1px white;
        font-size: 1.2em;
    }
    img{
        height: 190px;
        width: 190px;
    }
}
.Placement-gen3{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 91%;
    margin-left: -5em;
        .Titre-place3{
            display:flex;
            align-items: center;
            color:white;
            h3{
                margin-left: -4.5em;
                margin-bottom: 1.5em;
                color:$text-color1
            }
            }
    p{
        width: 20%;
        color:white;
        margin-right: -26.5em;
        margin-top: -2em;
        padding-left: 0.7em;
        border-left: solid 1px white;
        font-size: 1.2em;
    }
    img{
        height: 190px;
        width: 190px;
    }
}
// Image sur le coté gauche
.Placement-left{
    position: fixed;
    top: 30%;
}

//fin page 1 


//début P2 placement 

.placement-middle{
    display: flex;
    justify-content:center;
    align-items: center;
    
    .bloc-présentation{
        width: 20%;
        margin-top: 10em;
        img{
            height: 15em;
        }
        h2 span{
            color:$text-color2;
            font-family:'bloominggrovealtboldbold';
        }
        h2{
            color:white;
        }
        p{
            color:white;
            margin-top: 0;
        }
        .placement-P-trait{
            display:flex;
            align-items: flex-start;
            flex-direction: column;
            margin-right: 1em;
            padding-left: 1em;
            border-left: 1px solid #ffffff;
            
            img{
                height: 25em;
                margin-right: 1em;
            }
            .placement-desc{
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
        .Logo-réseaux{
            h3{
                
                color:white;            }
            img{
                height: 1.5em;
                margin-right: 2em;
            }
        }
    }

}

// fin Page 2


//Page 3 

.placement-bloc{
    width: 78%;
    display: flex;
    justify-content:flex-end;
    margin-bottom: 3em;
    margin-top:3em;
    img{ width: 20em;}
    .text-bloc{
        color: #fff;
        margin-left:1em;
        h3{
            margin-top:0;
        }
    }
}
.placement-bloc2{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    img{ width: 20em;}
    .text-bloc{
        color: #fff;
        
        margin-left:1em;
        h3{
            margin-top:0;
        }
    }
}

// fin page 3
//page 4 


// Page 5 
// gestion des 5 bloc
.all-blocP5{
    display:flex;
    justify-content:center;
    margin-top: 0;

    .blocP5{
        
        margin-top:20em;
        margin-right: 10em;
        
        img{ 
            width: 11em;
            margin-left: -1em;
            

        }
        p{          
            text-decoration: none;
            color:white;
            text-align: center;
            margin: 0;




        }  
    }
}
// bloc en bas p5
.bloc-bas-P5{
    display:flex;
    justify-content:center;
    margin-top: 10em;
    a{
        display:flex;
        align-items: center;
        img{
            padding: 1em;
        }
}
}



