.page-erreur{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background: url('../../images/FondSite-Erreur.webp');
}

.Logo{
    width: 350px;
    height:97px;
    margin-left: 2em;
    margin-top: 2em;
}
.bloc-erreur{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0,30%);
    img{
        width: 300px;
    }
    h1{
        color: #fff;
        font-size:64px;
        font-family: 'bloominggrovealtboldbold';
        margin:0;
    }
    p{
        color: #fff;
        font-size: 24px;
        text-align: center;
        margin-bottom: 2em;
    }
}