$text-color3:#CC4BC2;
$text-color4:#59CD90;


.number__styles{
    display: flex;
    width: 4%;
    justify-content: center;
    height: 90%;
    align-items: flex-end;
    font-size: 17px;
    position: absolute;
    bottom:1%;

    color: #505b5e;
    font-weight: bold;
    
}
.slider__styles{
    height:600px;
    width: 1000px;
    position: relative;

    

}

.slide__styles-right{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slide__styles-left{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.right{
    width: 100%;
    height: 100%;
   
    
}
.left{
    width: 100%;
    height: 100%;

}
.slide__styles-one{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.arrow{
    position: absolute;
    top: 50%;
    
    transform: translate(0, -50%);
    cursor: pointer;
}
.left__arrow{
    position: absolute;
    
    left: -90px;
    z-index: 1;
}
.right__arrow{
    position: absolute;
    right: -90px;
    z-index: 1;
    
}
.TraitOblique{
    position: absolute;
    top:-18%;
    left: -18%;

}
.TraitObliquee{
    position: absolute;
    bottom:-18%;
    right: -18%;
}
