.Carte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10em;

    
    
.cart{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;     
    margin: 0;
   
    
    
    .img-box{
        
        width: 425px;
        height: 365px;
        margin: 1em;
        margin-bottom: -2em;
        img:hover{
            
            box-shadow: 8px 8px 5px 0px rgba(204,75,194,0.25);
            -webkit-box-shadow: 8px 8px 5px 0px rgba(204,75,194,0.25);
            -moz-box-shadow: 8px 8px 5px 0px rgba(204,75,194,0.25);
            
            
        }  
       

        h3{
            color:white;
            text-align: flex-start;
        }


        img {
            height:240px;
            width: 425px;
            object-fit: cover;
        }
    }
}
}