



.all{
    background-image:url(./../../images/FondSite-Travaux.jpg);
    height: 100vh;
    
    .Logop4{
        height: 200px;
        width: 250px;
        margin-top: 2em;
        margin-left: 2em;
    }
}
.Temp-corp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    

    .Temp-Slide{
        margin-top: -8em;
        h2{
            color: #fff;
            text-align: start;
            
            font-size: 1.5em;
            margin: 0;
            margin-bottom: 0.5em;
            margin-left: 3em;
            
        }

        .TraitOblique1{
            position: absolute;
            top:10%;
            left:20%;
            height: 15em;
            z-index: 1;
        }
        .Slide{
            height: 580px;
            width: 1050px;
            border-radius: 50px 50px 50px 50px;
        }
        .TraitOblique2{
            position: absolute;
            bottom:11%;
            right:22%;
            height: 15em;
        }
    }
}
.bloc-bas-P4{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top:1em;
    z-index: 1;    
    .bloc-bas-text{

        width: 900px;
        color:white;
        margin-left: -6em;
        text-align: justify;
 
    }
}