$text-color4:#59CD90;


.CarteTempE , .CarteTempV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5em;
    height: 100vh;
    background-image:url(../../../images/FondSite-NosOffres.jpg);
    

.cart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    height:400px;
    width: 500px;   
    margin-top: 0;
    margin-right: 0;      
    
    
    .img-box{
        display: flex;
        flex-direction: column;
        align-items: center;

        
       .bouton{
        width: 423px;
        height: 57px;
       }

        h3{
            color:white;
            text-align: flex-start;
        }
        p{
            color:white;
        }


        img {
            height:240px;
            width: 425px;
            object-fit: cover;
        }

    }
}
}

