$text-color4:#59CD90;


.CarteTempE , .CarteTempV{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image:url(../../../images/FondSite-NosOffres.jpg);
    .Logop4-2{
        width: 420px;
        height:97px;
        margin-top: 2em;
        margin-left: 2em;

    }
    .desc-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 88%;
    p{
        color: #fff;
        margin-left: 13em;
        text-align: justify;
 
    }
    
    .TraitV{
        width: 2px;
        height: 60px;
        border-left: #fff 2px solid;
        margin-left: 2em;
        margin-right: 2em;
        
        
    }
    .contact-template{
        color:$text-color4;
        
        p{
            font-size: 24px;
            margin:0;
            width: 200px;
            color:$text-color4
        }
    }
}
    
.all-cart2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
.cart2{

    height:421px;
    width: 515px;   
    margin-top: 5em;
    margin-right: 3em;
        
    
    
    .img-box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        

    h3{
            color:white;

        }

        img {
            height:300px;
            width: 515px;
            object-fit: cover;
        }

    }
}
.voirmaquette{
    display: flex;    
    justify-content: center;
    height:55px;
    margin-top: 3em;
    margin-left:-1.2em;
}
}
}

